body {
	background-color: #03a9f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main {
	margin: 0 1em;
	flex: 1 0 auto; 
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
}


.full-div {
	height: 93vh;
	width: auto;
}

.valign {
	display: flex;
	align-items: center;

}

.row {
	display: block;
	width: 100%;
}

.center {
	text-align: center;
}

h1 {
	font-size: 5em;
	font-weight: 700;
	color: #212121;
}

#where-is-it {
	opacity: 0;
	font-size: 3em;
	font-weight: 300;
	margin: 0.2em;
	color: #212121;
}

#the-excuse {
	opacity: 0;
	font-size: 1.3em;
	font-weight: 300;
	color: #212121;
}

.footer {
	background-color: #424242;
	width: 100vw;
	height: 7vh;
	color: #f5f5f5;
}

a {
	transition: 0.15s;
	color: #42a5f5;
	text-decoration: none;
}

a:hover {
	transition: 0.15s;
	color: #64b5f6;
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 2em;
	}

	#where-is-it {
		font-size: 1.3em;
	}

	#the-excuse {
		font-size: 0.9em;
	}

	.footer {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 990px) {
	h1 {
		font-size: 3em;
	}

	#where-is-it {
		font-size: 2em;
	}

	#the-excuse {
		font-size: 1.2em;
	}

	.footer {
		font-size: 1em;
	}
}
}	
